.movie-details {
  .movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .favorite-btn {
    color: red;
  }

  .watchlist-btn {
    color: purple;
  }

  img {
    width: 100%;
    height: auto;
  }

  .movie-info {
    margin-top: 20px;
  }
}
