<nav class="header__nav container section">
  <div class="header__inner">
    <ul class="header__list">
      <li
        *ngFor="let link of headerLinks; trackBy: trackByRoutePath"
        class="header__item"
      >
        <a
          [routerLink]="link.routePath"
          routerLinkActive="header__link_active"
          class="movie-card__btn"
        >
          <svg *ngIf="link.routeIcon" class="icon" width="24" height="24">
            <use
              [attr.href]="'assets/icons/sprite.svg#' + link.routeIcon"
            ></use>
          </svg>
          <span>{{ link.routeName }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
