<p-card
  header="{{ movie.original_title }}"
  subheader="{{ movie.release_date }}   |   {{
    movie.duration ?? 0 | duration
  }}"
  class="movie-card"
  id="{{ movie.id }}"
  [ngStyle]="{
    'background-image':
      'url( https://image.tmdb.org/t/p/w500/' + movie.poster_path + ')',
  }"
>
  <div class="movie-card__wrapper">
    <p class="movie-card__overview">{{ movie.overview }}</p>
    <p></p>
    <div class="movie-card__box">
      <p-button
        class="movie-card__btn"
        type="button"
        [ngClass]="{ favorite: isFavorite }"
        (click)="addToFavorites()"
        icon="pi pi-heart"
        styleClass="movie-card__icon"
      >
      </p-button>
      <div class="movie-card__inner-icon">
        <svg class="movie-card__icon" width="44" height="44">
          <use href="/assets/icons/star.svg#star"></use>
        </svg>
        <span class="sr-only"> Рейтинг </span>
        <span class="movie-card__rating">
          {{ movie.vote_average | number: '1.0-0' }}
        </span>
      </div>
      <p-button
        class="movie-card__btn"
        type="button"
        [routerLink]="['/movie', movie.id]"
        icon="pi pi-info-circle"
        styleClass="movie-card__icon"
      >
      </p-button>
      <p-button
        class="movie-card__btn"
        type="button"
        [ngClass]="{ watchlist: isInWatchList }"
        (click)="addToWatchList()"
        icon="pi pi-clock"
        styleClass="movie-card__icon"
      >
      </p-button>
    </div>
  </div>
</p-card>
