.movie-card {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 1) 100%);
    padding: 50% 10px 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  &__overview,
  &__duration {
    font-style: italic;
    text-align: justify;
    text-indent: 20px;
    font-size: 12px;
    color: #fff;
  }
  
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    stroke: currentColor;
    stroke-width: 1px;
    fill: none;
  }



  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    transition: background-color 0.5s, box-shadow 0.5s, text-shadow 0.5s ease-in-out;

    &:hover {
      background-color: #fff;
      color: black;
    }

    &:focus {
      background-color: black;
      box-shadow: 0 0 0 2px #fff;
    }

    &:active {
      background-color: gray;
    }
  }

    &__rating {
      font-size: 14px;
      line-height: 1.4;
      // top: 7px;
      position: absolute;
text-align: center;
      // left: calc(50% + 5px);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      // background-color: #fff;
      color: #fff;
      display: inline-table;
    }


    & .favorite {
      color: rgb(255, 117, 117);
    }

    & .watchlist {
      color: rgb(104, 104, 255);
    }



}