.fab {
  position: fixed;
  bottom: 45px;
  right: 45px;
  z-index: 5;

  &__checkbox {
    display: none;

    &:checked ~ .fab__label .phonefab {
      display: none;
    }

    &:checked ~ .fab__label:before {
      width: 90%;
      height: 90%;
      left: 5%;
      top: 5%;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:checked ~ .fab__label .fab__dots {
      height: 6px;
      animation: none;
    }

    &:checked ~ .fab__label .fab__dots--1 {
      width: 32px;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &:checked ~ .fab__label .fab__dots--3 {
      width: 32px;
      border-radius: 10px;
      right: 50%;
      transform: translateX(50%) translateY(-50%) rotate(-45deg);
    }

    &:checked ~ .fab__wheel {
      transform: scale(1);
    }

    &:checked ~ .fab__wheel .fab__link {
      opacity: 1;
    }
  }

  &__label {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 60px;
    height: 60px;
    background: $gradient-header;
    border-radius: 50%;
    box-shadow: 0px 5px 20px $title;
    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
    border: 1px solid $accent;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }

    & .fab__dots--2 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
  }

  &__dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;

    &--1 {
      left: 15px;
      animation-delay: 0s;
    }

    &--2 {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      animation-delay: 0.4s;
    }

    &--3 {
      right: 15px;
      animation-delay: 0.8s;
    }
  }

  &__wheel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
  }

  &__link {
    position: absolute;
    background: $bg-default;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg-default;
    box-shadow: 0 0.1rem 1rem $title;
    transition: all 1s ease;
    opacity: 0;

    &:hover {
      background-color: #f16100;
    }

    &--1 {
      right: -1rem;
      top: 0;
    }

    &--2 {
      right: 3.4rem;
      top: 0.5rem;
    }

    &--3 {
      left: 0.5rem;
      bottom: 3.4rem;
    }

    &--4 {
      left: 0;
      bottom: -1rem;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0.25;
    }
  }
}
