.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-right: 15px;
  z-index: 2;
  transition: padding 1.5s ease;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: $gradient-header;
    opacity: 0.55;
    transition: background-color 0.5s ease-in-out;
  }

  &--active {
    backdrop-filter: blur(25px);
    transition:
      padding-top 0.3s,
      color 0.3s ease;

    &::after {
      backdrop-filter: blur(50px);
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    color: $white;

    @include mq('tablet-2', max) {
      margin-right: 0px;
    }
  }

  &__menu {
    display: flex;
    gap: 40px;

    @include mq('tablet-2', max) {
      display: none;
    }
  }

  &__address {
    margin-bottom: 0;

    @include mq('tablet-2', max) {
      display: none;
    }

    & .address__link {
      color: $white;
      font-size: 14px;
    }
  }
}

.mobile-menu {
  display: none;

  @include mq('tablet-2', max) {
    position: absolute;
    left: 0;
    right: 75px;
    top: 0;
    height: 100vh;
    display: block;
    // overflow: auto;
    z-index: 4;
    padding: 0 15px;
    transform: translate(100%, -100%);
    transition: transform 0.2s;

    &::before {
      content: '';
      position: absolute;
      background-color: $bg-default-05alpha;
      height: 100%;
      width: 100vw;
      bottom: 0;
      left: 0;
      z-index: -2;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: $bg-default;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &.active {
      transform: translate(0);
      position: fixed;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;

    @media (max-width: 768px) and (orientation: landscape) {
      padding: 0;
    }
  }

  &__menu {
    line-height: 1.2;
    padding: 13px 0;
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;

    @media (max-width: 992px) and (orientation: landscape) {
      padding: 0;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__address {
    padding: 10px 0;

    @include mq('tablet-2', max) {
      display: block;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      padding: 0;
    }
  }
}

.burger-button {
  display: none;

  @include mq('tablet-2', max) {
    width: 44px;
    height: 44px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    z-index: 0;
    transition:
      box-shadow 0.5s,
      background-color 0.5s,
      color 0.5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-position: center center;
      max-width: 30px;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: transform 0.5s ease-in-out;
    }

    &::before {
      top: 11px;
    }

    &::after {
      bottom: 11px;
    }

    &.active {
      z-index: -1;
    }

    &--close.active {
      transition: transform 0.5s ease-in-out;
      z-index: 5;

      &:focus {
        box-shadow: 0px 0px 0px 2px $accent;
      }

      &:active {
        background-color: $accent-05alpha;
      }

      &.burger-button::before {
        transform: rotate(45deg);
        top: 21px;
        width: 24px;
        background-color: black;
      }

      &.burger-button::after {
        transform: rotate(-45deg);
        bottom: 21px;
        width: 24px;
        background-color: black;
      }
    }

    &__line {
      position: absolute;
      max-width: 30px;
      width: 100%;
      height: 2px;
      background-color: #fff;

      &--close.active {
        transform: scale(0);
        background-color: black;
      }
    }
  }
}
