.monkey {
  stroke: currentColor;
  stroke-width: 2px;
  stroke-dashoffset: -4000;
  stroke-dasharray: 4000;
  animation-name: monkey;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes monkey {
  0% {
    stroke-dashoffset: -4000;
    stroke: currentColor;
  }
  30% {
    stroke: $accent;
  }
  50% {
    stroke: currentColor;
  }
  70% {
    stroke: $accent;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: currentColor;
  }
}
