<p-sidebar [(visible)]="sidebarVisible">
  <aside class="sidebar">
    <div class="logo">
      <img src="#" alt="logo" />
      <p>якась крута назва</p>
    </div>

    <ul class="sidebar__list">
      <li
        *ngFor="let link of sidebarLinks; trackBy: trackByRoutePath"
        class="sidebar__item"
      >
        <a
          [routerLink]="link.routePath"
          routerLinkActive="sidebar__link_active"
          class="sidebar__link"
        >
          <span>{{ link.routeName }}</span>
        </a>
      </li>
    </ul>
  </aside>
</p-sidebar>

<p-button
  type="button"
  pButton
  label="Menu"
  (click)="showSidebar()"
  icon="pi pi-bars"
/>
