$default: rgba(49, 53, 43, 1);
// #31352B
$default-05alpha: rgba(49, 53, 43, 0.5);

$title: rgba(54, 56, 83, 1);
// #363853
$title-05alpha: rgba(54, 56, 83, 0.5);

$accent: rgb(154, 138, 120, 1);
// #9a8a78
$accent-07alpha: rgb(154, 138, 120, 0.7);
$accent-05alpha: rgb(154, 138, 120, 0.5);
$accent-01alpha: rgb(154, 138, 120, 0.1);

$ints: rgba(169, 169, 169, 1);
$ints-05alpha: rgba(169, 169, 169, 0.5);

$gradient: linear-gradient(
  to bottom right,
  rgba(211, 164, 108, 1) 0%,
  rgba(178, 130, 84, 1) 41%,
  rgba(133, 82, 47, 1) 100%
);

$gradient-headerP: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 1) 0%,
  rgba(255, 255, 255, 1) 25%,
  rgba(0, 0, 0, 0.7) 41%,
  rgba(0, 0, 0, 0.5) 20%,
  rgba(0, 0, 0, 0.7) 100%
);

$gradient-black: rgba(0, 0, 0, 0)
  linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%) 0% 0% no-repeat;

$bg-default: rgba(249, 250, 255, 1);
// #f9faff
$bg-default-05alpha: rgba(249, 250, 255, 0.5);
$bg-default-085alpha: rgba(249, 250, 255, 0.85);

$white: rgba(255, 255, 255, 1);
// #fff
$white-05alpha: rgba(255, 255, 255, 0.5);

$black: rgba(0, 0, 0, 1);
//
$black-05alpha: rgba(0, 0, 0, 0.5);

$grey: rgba(194, 194, 194, 1);
// #c2c2c2
$grey-05alpha: rgba(194, 194, 194, 0.5);

// Задаем точки разрыва
$breakpoints: (
  'phone': 576px,
  'tablet': 768px,
  'tablet-2': 992px,
  'desktop': 1220px,
);

// Миксин для создания медиа-запросов
@mixin mq($width, $type: min) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Обрезание текста
@mixin line-clamp($lines: 0) {
  @if $lines <=0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

// Использование миксина
.class {
  font-size: 14px;
  @include line-clamp(3);
}
